<div class="splash">
<div class="grid-splash">
<div class="item-splash  splash-scan">
<h1> Budget Application </h1>
</div>
<div class="item-splash">
<%= link_to "LOG IN", "/users/login", class: "btn btn-login" %>
</div>
<div class="item-splash">
<%= link_to "SIGN UP", "/users/register", class: "btn btn-register" %>
</div>
</div
</div>
